{% extends "base.html" %}
{% load static %}
{% block head %}
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<!-- Font -->
<link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600%7CUbuntu:300,400,500,700" rel="stylesheet">
<!-- CSS -->
<link rel="stylesheet" href="css2/bootstrap-reboot.min.css">
<link rel="stylesheet" href="css2/bootstrap-grid.min.css">
<link rel="stylesheet" href="css2/owl.carousel.min.css">
<link rel="stylesheet" href="css2/jquery.mCustomScrollbar.min.css">
<link rel="stylesheet" href="css2/nouislider.min.css">
<link rel="stylesheet" href="css2/ionicons.min.css">
<link rel="stylesheet" href="css2/plyr.css">
<link rel="stylesheet" href="css2/photoswipe.css">
<link rel="stylesheet" href="css2/default-skin.css">

<!-- Favicons -->
<link rel="icon" type="image/png" href="icon/favicon-32x32.png" sizes="32x32">
<link rel="apple-touch-icon" href="icon/favicon-32x32.png">
<link rel="apple-touch-icon" sizes="72x72" href="icon/apple-touch-icon-72x72.png">
<link rel="apple-touch-icon" sizes="114x114" href="icon/apple-touch-icon-114x114.png">
<link rel="apple-touch-icon" sizes="144x144" href="icon/apple-touch-icon-144x144.png">
<meta name="description" content="">
<meta name="keywords" content="">
<meta name="author" content="Dmitry Volkov">
{% endblock head %}
{% block css %}

/* width */
::-webkit-scrollbar {
width: 4px;
}

/* Track */
::-webkit-scrollbar-track {
background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
background: #df4f91;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
background: #ff0075;
}
html {
-webkit-text-size-adjust: 100%;
-ms-text-size-adjust: 100%;
}
html,
body {
height: 100%;

}
body {
font-family: 'Ubuntu', sans-serif;

background-color: #212529!important;
font-weight: normal;
-webkit-font-smoothing: antialiased;
}

button {
padding: 0;
border: none;
background-color: transparent;
-webkit-transition: 0.4s ease;
-moz-transition: 0.4s ease;
transition: 0.4s ease;
cursor: pointer;
}
button:focus {
outline: none;
}
a {
-webkit-transition: 0.4s ease;
-moz-transition: 0.4s ease;
transition: 0.4s ease;
}
a:hover,
a:active,
a:focus {
outline: none;
text-decoration: none;
}
input,
textarea,
select {
padding: 0;
margin: 0;
-webkit-border-radius: 0;
border-radius: 0;
-webkit-appearance: none;
-moz-appearance: none;
appearance: none;
-webkit-box-shadow: none;
box-shadow: none;
}
input:focus,
textarea:focus,
select:focus {
outline: none;
}
ul {
margin: 0;
padding: 0;
list-style: none;
}
::-moz-selection {
background: #fff;
color: #000;
text-shadow: none;
}
::selection {
background: #fff;
color: #000;
text-shadow: none;
}
::-webkit-input-placeholder {
color: rgba(255,255,255,0.5);
opacity: 1;
}
::-moz-placeholder {
color: rgba(255,255,255,0.5);
opacity: 1;
}
:-moz-placeholder {
color: rgba(255,255,255,0.5);
opacity: 1;
}
:-ms-input-placeholder {
color: rgba(255,255,255,0.5);
opacity: 1;
}
.tab-content > .tab-pane {
display: none;
}
.tab-content > .active {
display: block;
}
.fade {
-webkit-transition: opacity 0.25s linear;
-moz-transition: opacity 0.25s linear;
transition: opacity 0.25s linear;
}
@media screen and (prefers-reduced-motion: reduce) {
.fade {
-webkit-transition: none;
-moz-transition: none;
transition: none;
}
}
.fade:not(.show) {
opacity: 0;
}
.collapse:not(.show) {
display: none;
}
.collapsing {
position: relative;
height: 0;
overflow: hidden;
-webkit-transition: height 0.4s ease;
-moz-transition: height 0.4s ease;
transition: height 0.4s ease;
}
@media screen and (prefers-reduced-motion: reduce) {
.collapsing {
-webkit-transition: none;
-moz-transition: none;
transition: none;
}
}
.b-description_readmore_button {
cursor: pointer;
display: block;
height: 24px;
width: 100%;
position: relative;
}
.b-description_readmore_button:before {
content: '\f1c8';
font-family: "Ionicons";
position: absolute;
display: block;
top: 0;
left: 0;
bottom: 0;
right: 0;
text-align: center;
color: rgba(255,255,255,0.75);
font-size: 22px;
line-height: 24px;
-webkit-transition: 0.4s ease;
-moz-transition: 0.4s ease;
transition: 0.4s ease;
}
.b-description_readmore_button:hover:before,
.b-description_readmore_button.b-description_readmore_button_active:before {
color: #ff55a5;
}
.body:before {
content: '';
position: fixed;
display: block;
top: 0;
left: 0;
right: 0;
bottom: 0;
z-index: 99;
background-color: rgba(43,43,49,0.75);
opacity: 0;
pointer-events: none;
-webkit-transition: 0.4s ease;
-moz-transition: 0.4s ease;
transition: 0.4s ease;
}
.body--active:before {
z-index: 99;
opacity: 1;
pointer-events: auto;
}

mCustomScrollbar customization
==============================*/
/* scroll bar 1 */
.mCS-custom-bar {
opacity: 1;
}
.mCS-custom-bar.mCSB_outside + .mCSB_scrollTools {
right: 2px;
top: 15px;
bottom: 15px;
}
.mCS-custom-bar.mCSB_scrollTools .mCSB_draggerRail {
background-color: rgba(255,255,255,0.05);
}
.mCS-custom-bar.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
background-image: -moz-linear-gradient(180deg, #ff55a5 0%, #ff5860 100%);
background-image: -webkit-linear-gradient(180deg, #ff55a5 0%, #ff5860 100%);
background-image: -ms-linear-gradient(180deg, #ff55a5 0%, #ff5860 100%);
background-image: linear-gradient(180deg, #ff55a5 0%, #ff5860 100%);
width: 2px;
-webkit-border-radius: 0;
border-radius: 0;
}
.mCS-custom-bar.mCSB_scrollTools .mCSB_dragger:hover .mCSB_dragger_bar {
background-image: -moz-linear-gradient(180deg, #ff55a5 0%, #ff5860 100%);
background-image: -webkit-linear-gradient(180deg, #ff55a5 0%, #ff5860 100%);
background-image: -ms-linear-gradient(180deg, #ff55a5 0%, #ff5860 100%);
background-image: linear-gradient(180deg, #ff55a5 0%, #ff5860 100%);
}
.mCS-custom-bar.mCSB_scrollTools .mCSB_dragger:active .mCSB_dragger_bar,
.mCS-custom-bar.mCSB_scrollTools .mCSB_dragger.mCSB_dragger_onDrag .mCSB_dragger_bar {
background-image: -moz-linear-gradient(180deg, #ff55a5 0%, #ff5860 100%);
background-image: -webkit-linear-gradient(180deg, #ff55a5 0%, #ff5860 100%);
background-image: -ms-linear-gradient(180deg, #ff55a5 0%, #ff5860 100%);
background-image: linear-gradient(180deg, #ff55a5 0%, #ff5860 100%);
}
/* scroll bar 2 */
.mCS-custom-bar2 {
opacity: 1;
}
.mCS-custom-bar2.mCSB_outside + .mCSB_scrollTools {
right: 2px;
top: 20px;
bottom: 20px;
}
.mCS-custom-bar2.mCSB_scrollTools .mCSB_draggerRail {
background-color: rgba(255,255,255,0.05);
}
.mCS-custom-bar2.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
background-image: -moz-linear-gradient(180deg, #ff55a5 0%, #ff5860 100%);
background-image: -webkit-linear-gradient(180deg, #ff55a5 0%, #ff5860 100%);
background-image: -ms-linear-gradient(180deg, #ff55a5 0%, #ff5860 100%);
background-image: linear-gradient(180deg, #ff55a5 0%, #ff5860 100%);
width: 2px;
-webkit-border-radius: 0;
border-radius: 0;
}
.mCS-custom-bar2.mCSB_scrollTools .mCSB_dragger:hover .mCSB_dragger_bar {
background-image: -moz-linear-gradient(180deg, #ff55a5 0%, #ff5860 100%);
background-image: -webkit-linear-gradient(180deg, #ff55a5 0%, #ff5860 100%);
background-image: -ms-linear-gradient(180deg, #ff55a5 0%, #ff5860 100%);
background-image: linear-gradient(180deg, #ff55a5 0%, #ff5860 100%);
}
.mCS-custom-bar2.mCSB_scrollTools .mCSB_dragger:active .mCSB_dragger_bar,
.mCS-custom-bar2.mCSB_scrollTools .mCSB_dragger.mCSB_dragger_onDrag .mCSB_dragger_bar {
background-image: -moz-linear-gradient(180deg, #ff55a5 0%, #ff5860 100%);
background-image: -webkit-linear-gradient(180deg, #ff55a5 0%, #ff5860 100%);
background-image: -ms-linear-gradient(180deg, #ff55a5 0%, #ff5860 100%);
background-image: linear-gradient(180deg, #ff55a5 0%, #ff5860 100%);

}

{% endblock css %}

{% block title %}Login{% endblock title %}

{% block body %}
<div class="container" style="margin-top: 2.5rem!important;" data-new-gr-c-s-check-loaded="14.1014.0"
  data-gr-ext-installed="">

  <div class="sign section--bg" data-bg="img/section/section.jpg">
    <div class="container" style="margin-top: -3.5rem!important;">
      <div class="row">
        <div class="col-12">
          <div class="sign__content">
              <div id="typed-strings" style="color:#de5078;">
                <h1 class="display-4" style="text-align:center;
                font-size: 2.5rem;
                font-weight: 500;
                line-height: 2.2;"><span id="typed"></span></h1>
              </div>
              <br>
              <div>
                <a href="/login" class="btn btn-primary" >Login</a>
              </div>
            <!-- end authorization form -->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<style>
body{
    background-color: #212529!important;
}
</style>
{% endblock body %}
{% block js %}
<script>
  var typed = new Typed('#typed', {
    strings: ["Your password has been set."],
    backSpeed: 15,
    smartBackspace: true,
    backDelay: 1200,
    startDelay: 1000,
    typeSpeed: 25,
    loop: false,
  });
</script>
{% endblock js %}
