{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block title %}Signup{% endblock title %}

{% block head %}
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<!-- Font -->
<link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600%7CUbuntu:300,400,500,700" rel="stylesheet">
<!-- CSS -->
<link rel="stylesheet" href="css2/bootstrap-reboot.min.css">
<link rel="stylesheet" href="css2/bootstrap-grid.min.css">
<link rel="stylesheet" href="css2/owl.carousel.min.css">
<link rel="stylesheet" href="css2/jquery.mCustomScrollbar.min.css">
<link rel="stylesheet" href="css2/nouislider.min.css">
<link rel="stylesheet" href="css2/ionicons.min.css">
<link rel="stylesheet" href="css2/plyr.css">
<link rel="stylesheet" href="css2/photoswipe.css">
<link rel="stylesheet" href="css2/default-skin.css">
<link rel="stylesheet" type="text/css" href="{% static 'blog/main.css' %}">

<!-- Favicons -->
<link rel="icon" type="image/png" href="icon/favicon-32x32.png" sizes="32x32">
<link rel="apple-touch-icon" href="icon/favicon-32x32.png">
<link rel="apple-touch-icon" sizes="72x72" href="icon/apple-touch-icon-72x72.png">
<link rel="apple-touch-icon" sizes="114x114" href="icon/apple-touch-icon-114x114.png">
<link rel="apple-touch-icon" sizes="144x144" href="icon/apple-touch-icon-144x144.png">
<meta name="description" content="">
<meta name="keywords" content="">
<meta name="author" content="Dmitry Volkov">
{% endblock head %}


{% block body %}

<div class="container" style="margin-top: 2.5rem!important;" data-new-gr-c-s-check-loaded="14.1014.0"
    data-gr-ext-installed="">
    <div class="sign section--bg" data-bg="img/section/section.jpg">
        <div class="container" style="margin-top: -3.5rem!important;">
            <div class="row">
                <div class="col-12">
                    <div class="sign__content">
                        <form action="/signup" method="post" class="sign__form">
                            {% csrf_token %}
                            <div id="typed-strings" style="color:#de5078;">
                                <h1 class="display-4" style="text-align:center;
                            font-size: 2.5rem;
                            font-weight: 500;
                            line-height: 2.2;"><span id="typed"></span></h1>
                            </div>
                            <div class="sign__group">
                                <input type="text" class="sign__input" name="username" id="username"
                                    placeholder=" Enter Username" required>
                            </div>
                            <div class="sign__group">
                                <input type="text" id="first_name" class="sign__input" name="first_name"
                                    placeholder="Enter Firstname" required>
                            </div>
                            <div class="sign__group">
                                <input type="text" id="last_name" class="sign__input" name="last_name"
                                    placeholder="Enter Lastname" required>
                            </div>
                            <div class="sign__group">
                                <input type="text" id="email" class="sign__input" name="email" placeholder="Email"
                                    required>
                            </div>
                            <div class="sign__group">
                                <input type="password" class="sign__input" id="pass1" name="pass1"
                                    placeholder="Password" required>
                            </div>
                            <div class="sign__group">
                                <input type="password" class="sign__input" id="pass2" name="pass2"
                                    placeholder="Enter your password " required>
                            </div>
                            <button class="sign__btn" type="submit" name="submit">Submit</button>
                            <span class="sign__text"> </span>
                            <span class="sign__text"><a href="/login">Already Have Acccount?</a></span>
                        </form>
                        <!-- end authorization form -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock body %}
{% block js %}
<script>
    var typed = new Typed('#typed', {
        strings: ["PLEASE", "SIGNUP"],
        backSpeed: 15,
        smartBackspace: true,
        backDelay: 1200,
        startDelay: 1000,
        typeSpeed: 25,
        loop: true,
    });
</script>
{% endblock js %}